html, body {
  margin: 20px;
}

.play, .end {
  display: none;
}

.cookie {
  background-image: url('img/latest.png');
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-size: cover;
}
