<p>Explanation...</p>

<span class="score">{{ model.score }}</span>

<a href="" class="start" {{ action "start"}}>Start the game</a>

<div class="play">
    <div class="cookie" {{ action "click"}}></div>
</div>

{{outlet}}
